.macos11-toolbar-button {
    -fx-font-size: 11;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.macos11-toolbar-button:focused {
    -fx-font-size: 11;
    -fx-background-color: lightgray;
}

.macos11-toolbar-button-icon {
    -fx-pref-height: 16;
    -fx-pref-width: 16;
}

.macos11-toolbar {
    -fx-pref-height: 24;
    -fx-spacing: 17;
}

.macos11-app-sidebar-maingroup {

}

.macos11-app-sidebar-maingroup .title .arrow {
    -fx-background-color: transparent;
}

.macos11-app-sidebar-subgroup {

}

.app-sidebar {
}

* {
    -sidebar-color-not-focused: rgba(211, 211, 211, 0.65);
    -sidebar-color-focused: rgba(211, 211, 211, 0.9);
    -font-color-group: rgba(0, 0, 0, 0.65);
    -font-color-subgroup: black;
}

.app-sidebar-maingroup {
    -fx-font-size: 11;
    -fx-background-color: -sidebar-color-not-focused;
    -fx-text-fill: -font-color-group;
}

.app-sidebar-maingroup:focused {
    -fx-font-size: 11;
    -fx-background-color: -sidebar-color-focused;
    -fx-text-fill: -font-color-group;
}

.app-sidebar-maingroup .arrow {
    -fx-background-color: red;
}

.app-sidebar-subgroup {
    -fx-background-color: -sidebar-color-not-focused;
    -fx-font-size: 14;
    -fx-border-insets: 5;
    -fx-text-fill: -font-color-subgroup;
}

.app-sidebar-subgroup:focused {
    -fx-background-color: -sidebar-color-focused;
    -fx-font-size: 14;
    -fx-border-insets: 5;
    -fx-text-fill: -font-color-subgroup;
}